<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>User Card</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="user-card">
        <img src="img/70.jpg" class="user-photo">
        <p class="user-nickname">romashka</p>
        <p class="user-name">
            Иванов Иван<br>
            Иванович
        </p>
        <hr>
        <p class="user-info-item">
            <img src="img/location.png">
            Москва, Юбилейная 50
        </p>
        <p class="user-info-item">
            <img src="img/mail.png">
            coldrabbit48@example.com
        </p>
        <p class="user-info-item">
            <img src="img/phone.png">
            +7-495-266-57-34
        </p>
    </div>
</body>

</html>